*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}
:root{
    --mainColor:#222831;
    --secondColor:#cccccc;
    --hoverColor:#1b1f24;
    --blackColor:black;
    --whiteColor:white;
    --buttonsColor:#ffbe33;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}


/* ---NavBar--- */

nav{
    padding: 2px 20px !important;
    background-color: var(--hoverColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav #link{
    font-size: 12px;
    color: var(--whiteColor);
    transition: all 0.3s;
    display: inline-block; 
}
nav #link:hover{
    color: var(--buttonsColor);
    scale: 1.02;
}
nav #logo{
    font-size: 20px;
    color:var(--whiteColor);
    font-weight: bold;
    transition: all .3s;
    font-family:'Dancing Script', cursive;
    cursor: pointer;
    display: inline-block;
}
nav #logo:hover{
    color: var(--buttonsColor);
    scale: 1.03;
}
nav #navbarNav .icons #icon{
    font-size: 13px;
    padding: 10px 5px;
    color: var(--whiteColor);
    transition: all .3s;
    display: inline-block;  
}
nav #navbarNav .icons #icon:hover{
    color: var(--buttonsColor);   
}
nav #navbarNav button{
    background-color: var(--buttonsColor);
    border: none;
    text-align: center;
    font-size: 12px;
    width: 90px;
    height: 25px;
    border-radius: 25px;
    margin: 5px 0 0 8px;
    transition: all 0.3s;
}

/* ---NavBAr Responsive--- */

@media screen and (max-width: 768px) {
    nav {
        justify-content: space-around;
        align-items: flex-start;
        gap: 5px;
        padding: 5px 0;
    }
    nav #navbarNav {
        width: 90%;
    }
    nav #navbarNav a,
    nav #link {
        padding: 0;
    }
    nav .icons {
        margin-top: 5px;
    }
}

/* ---Header--- */

.head{
    height: 100vh;
    width: 100%;    
    background-image: url(./hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 40px;
    overflow: hidden;
    position: relative;
}
#headerSlider {
    width: 100%;
    max-width: 400px; 
}
#headerSlider .carousel-item {
    display: none;
}
#headerSlider .carousel-item.active {
    display: block;
}
#headerSlider .carousel-inner {
    width: 100%;
}
.slide {
    color: white;
}
.slide h1{
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 1.2;
}
.slide p{
    font-size: 10px;
    margin-bottom: 15px;
    word-spacing: 2px;
    line-height: 1.6;
}
.slide button{
    font-size: 11px;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    background: var(--buttonsColor);
    color: var(--blackColor);
    cursor: pointer;
}

/* ---Head Responsive--- */

@media screen and (max-width: 790px) {
    .head{
    padding: 0 25px;
}
#headerSlider {
    max-width: 280px; 
}

.slide h1{
    font-size: 23px;
    line-height: 1.1;
}
.slide p{

    line-height: 1.4;
}
}
@media (max-width: 480px) {
        .head{
    padding: 0 25px;
}
#headerSlider {
    max-width: 250px; 
}

.slide h1{
    font-size: 19px;
    line-height: 1.1;
}
.slide p{
    line-height: 1.4;
}
}

/* ---offers--- */

.offers{
    width: 100%;
    padding: 50px 10% 0 10%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: nowrap;
}
.offers .card{
    width: 380px;
    height: 170px;
    background-color: var(--hoverColor);
    border-radius: 5px;
    padding: 20px;
    position: relative;
    transition: all .5s ease;
    animation: colors 4s infinite;
    animation-play-state: paused;
}
.offers .card:hover{
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes colors {
    0% {
        background-color: var(--mainColor);
    }
    25% {
        background-color: #393E46;
    }
    50% {
        background-color: #948979;
    }
    75% {
        background-color: #DFD0B8;
    }
    100% {
        background-color: var(--mainColor);
    }
}
.offers .card .img1{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px var(--buttonsColor) solid;
    object-fit: cover;
    position: absolute;
    left: 10px;
    top: 10px;
    background-image: url(./o1.jpg);
    background-size: contain;
animation: fadeSlide 5s infinite;
}
@keyframes fadeSlide {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0px);
  }
}
.offers .card .img2{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px var(--buttonsColor) solid;
    object-fit: cover;
    position: absolute;
    left: 10px;
    top: 10px;
    background-image: url(./o2.jpg);
    background-size: contain;
    animation: fadeSlide 5s infinite;
}
.offers .text{
    margin-left: 160px;
    margin-top: 10px;
    transition: all 1s ;
}
.offers .text:hover{
    scale: 1.03;
}
.offers .text h3{
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
}
.offers .text h2{
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
    font-family: 'Dancing Script', cursive;
}
.offers .text span{
    font-size: 13px;
}
.offers .text button{
    border: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 30px;
    background-color:var(--buttonsColor);
    color: var(--blackColor);
}

/* ---Offers Responsive--- */

@media screen and (max-width:900px) {
.offers{
    gap: 20px;
    flex-wrap:wrap;
} 
.offers .card .img1{
    width: 125px;
    height: 125px;
    top: 15px;
}
.offers .card .img2{
    width: 125px;
    height: 125px;
    top: 15px;
}  
}
@media screen and (max-width:380px) {   
.offers{
    gap: 10px;
    flex-wrap:wrap;
}   
.offers .text h3{
    font-size: 15px;
    margin-bottom: 10px;
}
.offers .text h2{
    font-size: 17px;
    margin-bottom: 9px;
}

.offers .text button{
    font-size: 10px;
    padding: 5px 7px;
}
.offers .card .img1{
    width: 110px;
    height: 110px;
    top: 25px;
}
.offers .card .img2{
    width: 110px;
    height: 110px;
    top: 25px;
}
.offers .text{
    margin-left: 140px;
}
}


/* ---Menu--- */

.menu{
    width: 100%;
    padding: 7% 10% !important;
}
.menu h5{
    font-size: 22px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 25px;
}
.menu .menu-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:center;
    gap:30px;
}
.menu .menu-cards .menu-card{
    background-color: var(--hoverColor);
    width: 260px;
    border-radius: 10px ;
    color: var(--whiteColor);
    border: none;
    position: relative;
    transition: all 1s;
}
.menu .menu-cards .menu-card:hover{
    box-shadow: 3px 3px 10px gray, -3px -3px 10px gray;
    transform: translateY(-5px) scale(1.01);
    }
.menu .menu-cards .menu-card .img1{
    background-image: url(./f1.png);
    background-position: center;
    background-size:140px;
    background-repeat: no-repeat;
    background-color:var(--secondColor);
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 30px ;
}
.menu .menu-cards .menu-card .img2{
    background-image: url(./f2.png);
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    background-color:var(--secondColor);
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 30px ;
}
.menu .menu-cards .menu-card .img3{
    background-image: url(./f3.png);
    background-position: center;
    background-size: 140px;
    background-repeat: no-repeat;
    background-color:var(--secondColor);
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 30px ;
}
.menu .menu-cards .menu-card .img4{
    background-image: url(./f4.png);
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    background-color:var(--secondColor);
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 30px ;
}
.menu .menu-cards .menu-card .img5{
    background-image: url(./f5.png);
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    background-color:var(--secondColor);
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 30px ;
}
.menu .menu-cards .menu-card .img6{
    background-image: url(./f6.png);
    background-position: center;
    background-size: 140px;
    background-repeat: no-repeat;
    background-color:var(--secondColor);
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 30px ;
}
.menu .menu-cards .menu-card .img7{
    background-image: url(./f7.png);
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    background-color:var(--secondColor);
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 30px ;
}
.menu .menu-cards .menu-card .img8{
    background-image: url(./f8.png);
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    background-color:var(--secondColor);
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 30px ;
}
.menu .menu-cards .menu-card .img9{
    background-image: url(./f9.png);
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    background-color:var(--secondColor);
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 30px ;
}
.menu .menu-cards .menu-card .text{
    font-size: 10px;
    margin: 10px 25px 10px 10px;
    padding: 5px;
}
.menu .menu-cards .menu-card .text h3{
    font-size: 22px;
    margin-bottom: 5px;
}
.menu .menu-cards .menu-card .text p {
       line-height: 1.6;
       margin-bottom: 10px;
   }
.menu .menu-cards .menu-card .text .price{
    font-size:10px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
}
.menu .menu-cards .menu-card .icon #icon{
    width: 30px;
    height: 30px; 
    font-size: 12px;
    border-radius: 50%;
    background-color: var(--buttonsColor);
    color: var(--whiteColor);
    position: absolute;
    right: 20px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.menu .menu-cards .menu-card .icon #icon:hover{
    scale: 1.05;
}

/* ---Menu Responsive--- */

@media screen and (max-width:990px) {  
.menu h5{
    margin-top: 40px;
}   
}
@media screen and (max-width:380px) {  
.menu h5{
    margin-top: 60px;
}  
}

/* ---About Feane--- */

.about{
    background-color:var(--hoverColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 10px;
    padding: 30px 20px;
}
.about .img{
    width: 370px;
    height: 500px;
    background-image: url(./about-img.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px;
}

.about .text{
    color: white;
    width: 400px;
    text-align: center;
}
.about .text h4{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
.about .text p{
    font-size: 10px;
    text-align: center;
    margin-bottom: 8px;
}
.about .text button{
    background-color: var(--buttonsColor);
    color:var(--whiteColor);
    border: none;
    padding: 5px 30px;
    font-size: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 1s ease;
}
.about .text button:hover{
    color: var(--mainColor);
    scale: 1.05;
}

/* ---About Feane Responsive--- */

@media screen and (max-width:980px) {
 .about{
    height: 100vh;
}
.about .img{
    width: 300px;
    height: 450px;
}
.about .text{
    width: 65%;
    max-width: 350px;
    font-size: 11px;
}
.about .text h4{
    font-size: 22px;
    margin-bottom: 22px;
}
.about .text p{
    font-size: 11px;
    margin-bottom: 15px;
}
}
@media screen and (max-width:760px) {
.about .img{
    width: 250px;
    height: 370px;
    margin: 10px ;
}
.about .text{
    width: 50%;
    max-width: 280px;
    font-size: 9px;
}
.about .text h4{
    font-size: 22px;
    margin-bottom: 22px;
}
.about .text p{
    font-size: 11px;
    margin-bottom: 15px;
}
}
@media screen and (max-width:600px) {
.about .img{
    width: 270px;
    height: 230px;
    margin: 30px;
}
.about .text{
    width: 360px;
}
.about .text h4{
    font-size: 18px;
    margin-bottom: 5px;
}
.about .text p{
    font-size: 9px;
    margin-bottom: 15px;
}
.about .text button{
    padding: 5px 15px;
    margin-bottom: 30px;
}
}

/* ---Book Table--- */

.booking{
    width: 100%;
}
.booking .bookTable {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px;
}
.booking .book h1{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    padding:  10% 0 16px 14%;
}
.booking .bookTable .data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
.booking .bookTable .data input {
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px var(--secondColor) solid;
    font-size: 10px;
}
.bookTable .data .option{
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px var(--secondColor) solid;
    font-size: 10px;
}
.booking .bookTable .data button{
    background-color: var(--buttonsColor);
    color: var(--whiteColor);
    border: none;
    padding: 5px 25px;
    border-radius: 25px;
    font-size: 12px;
    margin: 5px 10px ;
    transition: all 1s ease;
}
.booking .bookTable .data button:hover{
    scale: 1.05;
    color:var(--mainColor);
}
.booking .bookTable .map{
    width: 450px;   
}
.booking .bookTable .map iframe{
    border-radius: 10px;
    width: 450px;
    height: 300px;
}

/* ---BookTable Responsive--- */

@media screen and (max-width:1200px) {
.booking .bookTable {
    gap: 90px;
}
.booking .book h1{
    font-size: 28px;
    padding:  15% 20px 10px 13%;
}
}
@media screen and (max-width:990px) {
.booking .bookTable {
    gap: 60px;
}
.booking .book h1{
    font-size: 28px;
    padding:  15% 20px 10px 10%;
}
.booking .bookTable .data{
    width: 35%;
}
.booking .bookTable .data input {
    height: 30px;
}
.bookTable .data .option{
    height: 30px;
    padding: 5px;
}
.booking .bookTable .data button{
    padding: 7px 20px;
    font-size: 10px;
    margin: 5px 10px ;
}
.booking .bookTable .map{
     width: 400px; 
     margin-top: 5px; 
}
.booking .bookTable .map iframe{
    height: 250px;
    width: 400px;
}    
}
@media screen and (max-width:700px) {
.booking .bookTable {
    gap: 10px;
}
.booking .book h1{
    font-size: 30px;
    padding:  15% 20px 5px 17%;
}
.booking .bookTable .data{
    width: 70%;
}
.booking .bookTable .data button{
    padding: 7px 25px;
    font-size: 11px;
    margin:10px ;
}
.booking .bookTable .map{
    width: 420px; 
    margin-top: 5px; 
}
.booking .bookTable .map iframe{
    height: 270px;
    width: 420px;
}    
}
@media screen and (max-width:480px) {
    .booking{
    width: 100%;
}
.booking .book h1{
    font-size: 28px;
    padding:  25% 20px 5px 17%;
}
.booking .bookTable .data{
    width: 70%;
}
.booking .bookTable .data input {
    height: 30px;
}
.bookTable .data .option{
    height: 30px;
    padding: 5px;
}
.booking .bookTable .data button{
    padding: 7px 20px;
    font-size: 10px;
    margin: 5px 10px ;
}
.booking .bookTable .map{
    width: 300px;  
}
.booking .bookTable .map iframe{
    height: 230px;
    width: 300px;
}    
}

/* Customers Review  */

.carousel-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.carousel-item:not(.active) {
    display: none !important;
}
.customers{
    width: 100%;
    padding: 80px 10% 40px 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.customers h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 23px;
    padding:0 20% 25px;
}
.customers .review{
    width: 380px;
    height: 170px;
    background-color: var(--mainColor);
    padding: 5px;
    border-radius: 5px;
    position: relative;
}
.customers .review .img1{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px var(--buttonsColor) solid;
    background-image: url(./client1.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 10px;
    right: 165px;
}
.customers .review .img2{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px var(--buttonsColor) solid;
    background-image: url(./client2.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 10px;
    right: 165px;
}
.customers .review .text{
    color: white;
    font-size: 11px;
    text-align: center; 
    padding: 5px; 
    transition: all .5s ease-in-out; 
}
.customers .review .text:hover{
    color:#DFD0B8;
}
.customers .review .text h5{
    font-size: 13px;
    font-weight: bold;
}
.customers .review .text h6{
    font-size: 10px;
    color: grey;
}

/* ---Customer review Responsive--- */

@media screen and (max-width:990px) {
    .carousel-item {
    flex-wrap: nowrap;
}
.customers .review{
    width: 350px;
}    
}
@media screen and (max-width:780px) {
    .carousel-item {
    flex-wrap: wrap;
    gap: 15px;
}
.customers .review{
    width: 320px;
} 
.customers .review .img1{
    bottom: 15px;
    right: 125px;
}  
.customers .review .img2{
    bottom: 15px;
    right: 125px;
}  
}
@media screen and (max-width:380px) {
.carousel-item {
    flex-wrap: wrap;
    gap: 15px;
}
.customers .review{
    width: 300px;
} 
.customers .review .img1{
    bottom: 5px;
    right: 125px;
}  
.customers .review .img2{
    bottom: 5px;   
    right: 125px;
} 
}

/* ---Footer--- */

.footer{
    width: 100%;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 1% 0 3% 0;

}
.footer .contactus{
    text-align: center;
}
.footer .contactus h6{
    font-style: italic;
    font-size: 14px;
    font-family:'Dancing Script', cursive;
}
.footer .contactus p{
    font-family:'Dancing Script', cursive;
    color: var(--secondColor);
    margin: 3px;
    font-size: 11px;
}
.footer .feane {
    width: 23%;
    text-align: center;
    margin-top: 25px;
}
.footer .feane h6{
    font-family:'Dancing Script', cursive;
    font-size: 14px;
    font-style: italic;
}
.footer .feane p{
    font-size: 11px;
    font-family:'Dancing Script', cursive;
    color: var(--secondColor);
    margin-bottom: 5px;
}
.footer .feane .icons .icon{
    font-size: 13px;
    text-align: center;  
    color: var(--whiteColor);
    margin-bottom: 10px;
}
.footer .opening{
    font-family:'Dancing Script', cursive;
    text-align: center;
}  
.footer .opening h6{
    font-style: italic;
    font-family:'Dancing Script', cursive;
    font-size: 14px;
    margin-bottom: 15px;
}
.footer .opening p{
    font-family:'Dancing Script', cursive;
    font-size: 10px;
    color: var(--secondColor);
    margin-bottom: 10px;
    line-height: 1.1;
}
.footer  hr{
    width: 70%;
    border-top: 1px solid gray;
    margin-bottom: 6px;
}
.footer .rights{
    width:100%;
    font-size: 10px;
    font-family:'Dancing Script', cursive;
    text-align: center;
}
.footer .rights p{
    font-size: 9px;
    font-family:'Dancing Script', cursive;
    color: var(--secondColor);
    margin: 4px;
}

/* ---Footer Responsive--- */

@media screen and (max-width:990px) {
.footer{
    justify-content:space-evenly;  
}
}
@media screen and (max-width:780px) {
.footer{
    justify-content: space-evenly;
    flex-direction: column;
    padding: 3% 0 3% 0;
}
.footer .feane {
    margin-top: 10px;
    width: 40%;
}
.footer .feane .icons{
    margin-bottom: 10%;
}
}
@media screen and (max-width:570px) {
.footer{
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5% 0 3% 0;
}
.footer .feane {
    margin-top: 10px;
}
.footer .feane .icons{
    margin-bottom: 10%;
}
}
@media screen and (max-width:400px) {
.footer{
    padding: 5% 0 2% 0;
}
.footer .contactus h6{
    font-size: 12px;
}
.footer .contactus p{
    margin: 3px;
    font-size: 10px;
}
.footer .feane {
    margin-top: 10px;
}
.footer .feane h6{
    font-size: 12px;
}
.footer .feane p{
    font-size: 10px;
    margin-bottom: 2px;
}
.footer .feane .icons .icon{
    font-size: 9px;
}
.footer .opening h6{
    font-style: italic;
    font-family:'Dancing Script', cursive;
    font-size: 11px;
    margin-bottom: 15px;
}
.footer .opening p{
    font-size: 9px;
}
.footer .rights p{
    font-size: 7px;
    margin: 4px;
}
}
